
    <div class="py-5">
      <div class="container text-center">
        <div class="row hidden-md-up">
          <div class="col-md-4 mb-4">
            <div class="card p-4">
              <div class="card-block">
                <h4 class="card-title p-3">Card title</h4>

                <img class="img-fluid" src="assets/images/card-img.jpg" alt="Image">
                <h6 class="card-subtitle text-muted p-3">Support card subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                <a href="#" class="card-link btn btn-primary">View Project</a>
                <a href="#" class="card-link btn btn-outline-primary">Get Source Code</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card p-4">
                <div class="card-block">
                    <h4 class="card-title p-3">Card title</h4>
    
                    <img class="img-fluid" src="assets/images/card-img.jpg" alt="Image">
                    <h6 class="card-subtitle text-muted p-3">Support card subtitle</h6>
                    <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                    <a href="#" class="card-link btn btn-primary">View Project</a>
                <a href="#" class="card-link btn btn-outline-primary">Get Source Code</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card p-4">
                <div class="card-block">
                    <h4 class="card-title p-3">Card title</h4>
    
                    <img class="img-fluid" src="assets/images/card-img.jpg" alt="Image">
                    <h6 class="card-subtitle text-muted p-3">Support card subtitle</h6>
                    <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                    <a href="#" class="card-link btn btn-primary">View Project</a>
                    <a href="#" class="card-link btn btn-outline-primary">Get Source Code</a>
                  </div>
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card p-4">
                <div class="card-block">
                    <h4 class="card-title p-3">Card title</h4>
    
                    <img class="img-fluid" src="assets/images/card-img.jpg" alt="Image">
                    <h6 class="card-subtitle text-muted p-3">Support card subtitle</h6>
                    <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                    <a href="#" class="card-link btn btn-primary">View Project</a>
                <a href="#" class="card-link btn btn-outline-primary">Get Source Code</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card p-4">
                <div class="card-block">
                    <h4 class="card-title p-3">Card title</h4>
    
                    <img class="img-fluid" src="assets/images/card-img.jpg" alt="Image">
                    <h6 class="card-subtitle text-muted p-3">Support card subtitle</h6>
                    <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                    <a href="#" class="card-link btn btn-primary">View Project</a>
                <a href="#" class="card-link btn btn-outline-primary">Get Source Code</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card p-4">
                <div class="card-block">
                    <h4 class="card-title p-3">Card title</h4>
    
                    <img class="img-fluid" src="assets/images/card-img.jpg" alt="Image">
                    <h6 class="card-subtitle text-muted p-3">Support card subtitle</h6>
                    <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                    <a href="#" class="card-link btn btn-primary">View Project</a>
                    <a href="#" class="card-link btn btn-outline-primary">Get Source Code</a>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
