<!-- hero section -->

<div class="hero bg-primary text-light text-center p-5">
    <div class="container hero-space">
                <h1 class="display-4 mt-5">Welcome to my Portfolio</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                    fugit obcaecati ea officiis optio porro quaerat? Numquam esse,
                    nobis alias dolor vero architecto veniam ab doloremque illo quas.
                    Magnam, atque?
                </p>
                <a href="index.html" class="btn btn-dark">View My Projects</a>
                <span class="wrap-info-btn-space"></span>
                <a href="index.html" class="btn btn-outline-dark">Contact Me</a>
            </div>
    </div>